.video-play-section {
  background-image: linear-gradient(rgba(black, .7), rgba(black, .7)), url("../img/media.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
