@import "bootstrap";
@import "fontawesome";
@import "node_modules/ekko-lightbox/dist/ekko-lightbox";
@import "node_modules/slick-carousel/slick/slick.scss";
@import "slick-theme";
@import "colors";
@import "navbar";
@import "showcase";
@import "home-heading";
@import "video-play";
@import "about-heading";
@import "services-faq";

body {
  margin-top: 56px;
}

.bg-black {
  background: #000;
}

.about-heading-section, .services-heading-section, .blog-heading-section, .contact-heading-section {
  background-image: url("../img/image1.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
